@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;700&display=swap");

:root {
  --pink: #f50082;
  --blue: #1b025f;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "DM Sans", sans-serif;
}

.container {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
  padding: 0;
}

.section-nav {
  height: 90px;
  display: flex;
  align-items: center;
  background-color: #fff;
  position: relative;
  z-index: 1000;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.navigation a {
  font-size: 16px;
  font-weight: 500;
  margin-right: 30px;
  color: #000;
}

.navigation a:last-of-type {
  margin-right: 0;
}

.navigation a:hover {
  text-decoration: none;
}

.hero {
  background-image: url("./assets/img/hero.jpg");
  height: 90vh;
  background-position: center;
  background-size: cover;
}

.info-hero {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-hero h2,
.info-hero p {
  color: #fff;
  text-align: left;
}

.info-hero h2 {
  font-size: 48px;
  font-weight: 700;
  width: 72%;
  line-height: 52.56px;
  margin-bottom: 40px;
}

.info-hero p {
  font-size: 16px;
  font-weight: 500;
}

.btn-hero {
  width: 215px;
}

/*Section About*/

section.about {
  height: 700px;
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 80px;
}

section.about::before {
  content: "";
  background-image: url(./assets/img/e.svg);
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.section-about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 6rem;
}

.info-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-about h2 {
  font-size: 30px;
  font-weight: 700;
  color: var(--pink);
  margin-bottom: 20px;
}

.info-about .p1 {
  font-size: 30px;
  font-weight: 500;
}

.info-about .p2 {
  width: 60%;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 50px;
}

.btn-about {
  width: 40%;
  padding: 13px 0 !important;
  background-color: var(--blue);
}

section.promotions {
  background-color: var(--blue);
}

section.promotions div.section-promotions {
  text-align: center;
}

section.promotions div.section-promotions h2 {
  color: var(--pink);
  font-size: 30px;
  padding-top: 70px;
}

section.promotions div.section-promotions .first-text {
  color: white;
  font-size: 27px;
  font-weight: 500;
}

section.promotions div.section-promotions .last-text {
  color: white;
  font-size: 18px;
  font-weight: 400;
}

.section-frecuentes {
  background-color: var(--pink);
  padding: 70px 0;
}

.encabezado-frecuentes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*padding: 0 120px;*/
}

.encabezado-frecuentes h2 {
  color: #1b025f;
  font-weight: 700;
  font-size: 38px;
  letter-spacing: -0.02em;
}

.encabezado-frecuentes p {
  font-size: 28px;
  font-weight: 400;
  color: #fff;
}

.accordion-item {
  background-color: #fcfcfd;
  border: 1px solid #cfd0d7;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px 30px;
  transition: .2s all linear;
  position: relative;
}

.accordion-item{
  background-color: #fcfcfd;
  border: 1px solid #cfd0d7;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px 30px;
  transition: .2s all linear;
  position: relative;
}

.accordion-item a{
  position: absolute;
  top: 12px;
  right: 41px;
}

.accordion-item h2 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.accordion-item h2,
.accordion-body {
  width: 80%;
}

a.accordion-button{
  transform: rotate(180deg);
}

a.collapsed{
  transform: rotate(0deg);
}



.collapsing .accordion-body{
margin-top: 20px;
}

.show .accordion-body{
  margin-top: 20px;
}

.texto-dudas {
  margin-top: 250px;
  margin-bottom: 70px;
  color: #00005a;
}

.texto-dudas h2 {
  font-size: 28px;
  font-weight: 700;
}

.texto-dudas p {
  font-size: 18px;
  font-weight: 500;
  width: 85%;
}

.form-contacto label {
  color: #5f6377;
}

.form-contacto .form-control {
  background-color: #fcfcfd;
  border: 1px solid #cfd0d7;
  border-radius: 2px;
}

.form-control:focus {
  box-shadow: none;
  border-color: #00005a;
  color: #00005a;
}

.form-contacto textarea {
  height: 170px;
  padding: 20px 35px;
}

.form-contacto .form-control:placeholder {
  color: #1a203d;
  opacity: 30%;
}

.btn-contacto{
  float: right;
  background-color: #010659;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  margin-top: 25px;
  border-radius: 5px;
  padding: 10px 61px;
}

.not-found{
  display: grid;
  grid-template-columns: repeat(2, 50%);
  column-gap: 2rem;
  color: #00005a;
  height: 100vh;
}

.not-found a{
  color: #00005a;
}

.not-found h1{
  font-size: 10rem;
  font-weight: 700;
  margin: 0;
}

.not-found p,
.not-found a{
  font-size: 3rem;
  line-height: 40px;
  font-weight: 700;
}

.not-found .btn-primary{
  background-color: var(--pink);
}

.not-found img{
  width: 600px;
  height: 400px;
}

.not-found .primera-columna img{
width: 50%;
height: 30%;
margin-top: 50px;
}

.not-found .segunda-columna{
  display: flex;
  align-items: center;
}

.section-nosotros{
  background-color: var(--blue);
  position: relative;
}

.section-nosotros::before{
  content: "";
  background-image: url(./assets/img/letras-moradas.svg);
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 466.84px;
  top: 0;
  right: 0;
  z-index: 1;

}

.section-nosotros h1{
  color: var(--pink);
  font-size: 38px;
  margin-bottom: 30px;
}

.section-nosotros p{
  color: #fff;
  font-weight: 300;
  line-height: 40px;
  font-size: 28px;
}

.contenido-nosotros{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 150px 0px;
  column-gap: 30px;
}

.contenido-nosotros .img-nosotros{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 2;
}


.rectangle-63{
  position: relative;
  margin-top: 200px;
  padding: 100px 200px 0 0;
}

.rectangle-63 .img-parrafo2{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rectangle-63::before{
  content: '';
  position: absolute;
  width: 90%;
  height: 100%;
  background-color: var(--pink);
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 0px 290px 0px 0px;
}

.rectangle-63::after{
  content: '';
  position: absolute;
  width: 720px;
  height: 617px;
  bottom: 0;
  right: 0;
  background-image: url(./assets/img/img100.jpg);
  z-index: 2;
  border-radius: 50% 0 0 0;
}

.rectangle-63 p{
  font-size: 30px;
  color: white;
  width: 85%;
}

.rectangle-63 img{
  width: 70%;
}

.rectangle-63 .parrafo2{
  font-size: 30px;
  line-height: 44px;
  font-weight: 300;
  width: 40%;
  margin-bottom: 40px;
}

.rectangle-63 .parrafos-inferiores{
  font-size: 18px;
  line-height: 35px;
  padding-bottom: 50px;
  width: 50%;
  margin: 0;
}

.rectangle-63 .parrafos-inferiores:last-of-type{
  padding-bottom: 100px;
}


/*=========CRECE MI NEGOCIO==========*/

.section-crece{
background-color: var(--blue);
color: #fff;
position: relative;
}

.section-crece::before{
  content: "";
  background-image: url(./assets/img/letras-moradas.svg);
  background-size: 500px 580px;
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 466.84px;
  top: 0;
  right: 0;
  z-index: 1;

}


.crece-hero{
  display: grid;
  grid-template-columns: 40% 60%;
  position: relative;
}

.crece-hero::before{
content: "";
background-image: url(./assets/img/img189.jpg);
position: absolute;
top: 300px;
left: 0;
width: 382px;
height: 351px;
border-radius: 5px;
}

.crece-hero h1{
  font-size: 38px;
  font-weight: 700;
  color: var(--pink);
  padding-top: 150px;
}

.crece-hero .segunda-columna{
  padding: 300px 0 100px;
}

.crece-hero .segunda-columna h2{
  color: var(--pink);
  font-size: 28.26px;
}

.crece-hero .segunda-columna p{
  font-size: 22px;
  line-height: 38.85px;
}

.container-blogs{
  margin-top: 80px;
  margin-bottom: 80px;
  
}

.card-blog{
  display: flex;
  padding: 50px 0px 50px;
  border-bottom: 1px solid #000;
}

.card-blog:last-of-type{
  border-bottom: none;
}

.card-blog div{
  display: flex;
  flex-direction: column;
  padding-left: 130px;
}

.card-blog div h3{
  color:  #C5157E;
  font-size: 28.26px;
}

.card-blog div p{
  font-size: 22px;
  line-height: 38.85px;
}

/*===========FOOTER===========*/

.footer{
  background-color: var(--blue);
  color: #fff;
  padding: 59px 0;
  margin: 0;
}

.footer a{
  color: #fff;
}

.footer .section-footer{
  display: grid;
  grid-template-columns: 30% 20% 20% 20%;
  column-gap: 50px;
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;
  letter-spacing: -0.2 px;
}

.section-footer h3{
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 20px;
}

.texto-footer{
  width: 80%;
}
.nav-inferior{
  display: flex;
  flex-direction: column;
}

.nav-inferior a{
  color: #fff;
  margin-bottom: 20px;
}

.social-networks a{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.social-networks a p{
  margin: 0;
  margin-left: 10px;
}

.copy{
  margin-top: 110px;
  color: rgb(97, 97, 97);
}

.hero-comprar{
  background-color: var(--blue);
  color: #fff;
  padding-top: 100px;
  padding-bottom: 377px;
  position: relative;
}

.hero-comprar::after{
  content: '';
  background-image: url(./assets/img/mapa-puntos.svg);
  width: 756px;
  height: 510px;
  position: absolute;
  top: -17px;
  right: 0;
  opacity: 14%;
  
}

.hero-comprar h1{
  color: var(--pink);
  font-size: 38px;
  line-height: 45.41px;
}


.hero-comprar .location{
  font-size: 20px;
}

.hero-comprar .location svg{
  color: var(--pink);
}

.hero-comprar .selecciona{
  font-size: 18px;
  line-height: 23.49px;
  padding-top: 7px;
}


.input-ciudad{
  position: relative;
}

.input-ciudad::before{
  content: '';
  position: absolute;
  background-image: url(./assets/icons/shape.svg);
  color: var(--blue);
  width: 17.22px;
  height: 17.22px;
  top: 42px;
  right: 11px;
  z-index: 1000;
}

.suggestions-container{
  background-color: #fff;
  color: var(--pink);
  border-radius: 5px;
  padding: 10px 20px;
  position: absolute;
  width: 100%;
}

.suggestions-container .suggestion{
  border-bottom: 1px solid var(--blue);
  padding: 3px 0;
  cursor: pointer;
}

.suggestions-container .suggestion:last-of-type{
  border-bottom: none;
  padding-bottom: 0;
}