.container {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

.section-nav{
  height: 90px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #000;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.navigation a{
  font-size: 16px;
  font-weight: 500;
  margin-right: 30px;
  color: #000;
}

.navigation a:last-of-type{
  margin-right: 0;
}

.navigation a:hover{
  text-decoration: none;
}

